[submodule "acs-demo"]
	path = acs-demo
	url = https://github.com/cbienmueller/acs-demo
[submodule "sl"]
	path = sl
	url = https://github.com/mtoyoda/sl
[submodule "cbienmueller"]
	path = cbienmueller
	url = https://github.com/cbienmueller/cbienmueller
